.container-chat {
  display: flex;
  flex-direction: column-reverse;
  border-left: 2px solid rgb(214, 214, 214);
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  box-shadow: inset 0px -100px 100px 1px rgba(157, 127, 214, 0.076) ;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    input {
      width: calc(100% - 50px);
      height: 2.5rem;
      background-color: #f3f3f3;
      border: rgb(214, 214, 214) 1px solid;
      border-radius: 1.5rem;
      margin: 0px 0.5rem;
      -webkit-box-shadow: 10px 10px 31px -18px rgba(97, 97, 97, 1);
      -moz-box-shadow: 10px 10px 31px -18px rgba(97, 97, 97, 1);
      box-shadow: 10px 10px 31px -18px rgba(97, 97, 97, 1);
      padding-left: 1rem;
      padding-right: 1rem;
      color: #7a7a7a;
      outline: none;

      &:focus {
        border: rgb(158, 127, 214) 2px solid;
      }
      &:active{
        box-shadow: 0px 0px 100px 1px rgba(157, 127, 214, 0.159) ;
      }
    }

    button {
      height: 2.5rem;
      background-color: #f3f3f3;
      border: rgb(214, 214, 214) 1px solid;
      border-radius: 1.5rem;
      background: rgb(158, 127, 214);
      width: 50px;
      padding-top: 0.3rem;
      margin-right: 0.5rem;
      cursor: pointer;
      transition-duration: 0.5s;
      &:hover{
        background: rgb(135, 97, 208);
      }
      &:active{
        transform: scale(0.9);
      }
    }
  }

  .container-messages {
    display: flex;
    flex-direction: column;
    // overflow: scroll;
    // overflow-x: hidden;
    // overflow-y: hidden;

    .new-user-channel{
      margin: 0.5rem auto;
      animation: animate-new-user-channel 1s;
      width: auto;
      color: rgb(128, 128, 128);
      background-color: #f2f8ff;
      border-radius: 20px;
      padding: 0.3rem 2rem;
      font-size: 12px;
    }

    .message {
      display: flex;
      margin-bottom: 1rem;
      max-width: 80%;
      padding: 0.7rem 1rem;
      animation: animate-message 1s;
      font-size: 14px;
    }
    $border-px: 15px;
    .message-yo {
      flex-direction: row-reverse;
      background: rgb(158, 127, 214);
      color: rgb(238, 238, 238);
      width: auto;
      margin-left: auto;
      margin-right: 1rem;
      border-radius: $border-px $border-px 2px $border-px;
      animation: animate-message-yo 1s;
    }
    .message-otro {
      flex-direction: column;
      color: rgb(128, 128, 128);
      background-color: #f2f8ff;
      margin-right: auto;
      margin-left: 1rem;
      border-radius: 2px $border-px $border-px $border-px;
      padding-top: 0.3rem;
      animation: animate-message-otro 1s;

      .message-name{
        font-size: 0.6rem;
        font-weight: 1000;
        margin-bottom: 0.2rem;
      }
      .message-msg{
        font-size: 14px ;
      }
    }
  }

  @keyframes animate-message {
    0%{
      opacity: 0;
    }
  }

  @keyframes animate-message-yo {
    0%{
      opacity: 0;
      translate: 50px 0px;
    }
  }

  @keyframes animate-message-otro {
    0%{
      opacity: 0;
      translate: -50px 0px;
    }
  }

  @keyframes animate-new-user-channel {
    0%{
      opacity: 0;
    }
  }
}
