*{
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.container-chat-web-socket{
  width: 100%;
  height: 100vh;
  display: grid;
  //grid-template-columns: 60% minmax(300px, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: linear-gradient(
    to bottom right, #ffe8f6, #E6F0FF
  );
}

